[Unit]
Description=gnss-tracker
After=pigpiod.service

[Service]
ExecStart=/usr/local/bin/julia /home/pi/drifter-raspberry-pi/gnss-tracker.jl
WorkingDirectory=/home/pi/drifter-raspberry-pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target